/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,700|Oxygen|Pacifico');
$base-font: "Libre Franklin", "Helvetica", "sans-serif";
$header-font: "Oxygen", "Helvetica", "sans-serif";
$cat-font: "Pacifico", "cursive";


// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #3c2f3d;

$red: #e03e36;
$blue: #0eb29a;
$yellow: #FDB631;
$orange: #ff7c38;
$green: #32B796;
$gray: #000000;
$medium-gray: #8c999a;
