.banner-show {
  height: 50vh;
  background-repeat: no-repeat!important;
  background-position: center!important;
  background-size: contain!important;
}

.presentation-appart {
  display: flex;
  justify-content: space-between;
}

.owner {
  text-align: center;
  margin-top: 20px;
}

.owner-name {
  margin-top: 10px;
}

ul {
  list-style: none;
}

li {
  margin: 10px 0px 10px 0px;
}

.presentation {
  display: flex;
  justify-content: space-between;
}

.resa {
  border: 1px solid grey;
  margin: 10px;
  padding: 10px;
}

hr {
  border-width: 2px;
}

h3 {
  color: #484848;
}

i {
  margin-right: 10px;
  color: #D2D2D2;
}

strong {
  color: #D2D2D2;
}



